*body{
    padding: 0;
    margin: 0;
    border:0;
}
/*Estilo body*/
body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/*fin*/
/*Estilo párrafos*/
p{
    margin: 0;
    padding: 0;
    font-weight: 300;
}
/*fin*/
/*Estilo de la barra de navegación*/
.navbar{
    position: fixed;
    z-index: 10;
    top:0;
    width: 100%;
    }
/*fin*/
/*Permite adaptar el tamaño de fuente en dispositivo pequeño*/
@media only screen and (max-width: 600px) {
    body{
        font-size: 2.6vw;
    }
}
/*fin*/
